html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.smtp-test-log .smtp-log-success {
  color: #198754;
}

.smtp-test-log .smtp-log-warning {
  color: #cc9a06;
}

.smtp-test-log .smtp-log-error {
  color: #dc3545;
}

.smtp-test-log .smtp-log-info {
  color: #0d6efd;
}